[submodule "htdocs/custom/abricot"]
	path = htdocs/custom/abricot
	url = git@github.com:ATM-Consulting/dolibarr_module_abricot.git
[submodule "htdocs/custom/attachementsaslink"]
	path = htdocs/custom/attachementsaslink
	url = git@github.com:ATM-Consulting/dolibarr_module_attachementsaslink.git
[submodule "htdocs/custom/breadcrumb"]
	path = htdocs/custom/breadcrumb
	url = git@github.com:ATM-Consulting/dolibarr_module_breadcrumb.git
[submodule "htdocs/custom/contactdefault"]
	path = htdocs/custom/contactdefault
	url = git@github.com:ATM-Consulting/dolibarr_module_contactdefault.git
[submodule "htdocs/custom/doc2project"]
	path = htdocs/custom/doc2project
	url = git@github.com:ATM-Consulting/dolibarr_module_doc2project.git
[submodule "htdocs/custom/docpreview"]
	path = htdocs/custom/docpreview
	url = git@github.com:ATM-Consulting/dolibarr_module_docpreview.git
[submodule "htdocs/custom/fullcalendar"]
	path = htdocs/custom/fullcalendar
	url = git@github.com:ATM-Consulting/dolibarr_module_fullcalendar.git
[submodule "htdocs/custom/googlecontactsync"]
	path = htdocs/custom/googlecontactsync
	url = git@github.com:ATM-Consulting/dolibarr_module_googlecontactsync.git
[submodule "htdocs/custom/lostintranslation"]
	path = htdocs/custom/lostintranslation
	url = git@github.com:ATM-Consulting/dolibarr_module_lostintranslation.git
[submodule "htdocs/custom/odtdocs"]
	path = htdocs/custom/odtdocs
	url = git@github.com:ATM-Consulting/dolibarr_module_odtdoc.git
[submodule "htdocs/custom/postit"]
	path = htdocs/custom/postit
	url = git@github.com:ATM-Consulting/dolibarr_module_postit.git
[submodule "htdocs/custom/propalehistory"]
	path = htdocs/custom/propalehistory
	url = git@github.com:ATM-Consulting/dolibarr_module_propalehistory.git
[submodule "htdocs/custom/query"]
	path = htdocs/custom/query
	url = git@github.com:ATM-Consulting/dolibarr_module_query.git
[submodule "htdocs/custom/recouvrement"]
	path = htdocs/custom/recouvrement
	url = git@github.com:ATM-Consulting/dolibarr_module_recouvrement.git
[submodule "htdocs/custom/recurrence"]
	path = htdocs/custom/recurrence
	url = git@github.com:ATM-Consulting/dolibarr_module_recurence.git
[submodule "htdocs/custom/related"]
	path = htdocs/custom/related
	url = git@github.com:ATM-Consulting/dolibarr_module_related.git
[submodule "htdocs/custom/rememberme"]
	path = htdocs/custom/rememberme
	url = git@github.com:ATM-Consulting/dolibarr_module_rememberme.git
[submodule "htdocs/custom/scrollto"]
	path = htdocs/custom/scrollto
	url = git@github.com:ATM-Consulting/dolibarr_module_scrollto.git
[submodule "htdocs/custom/scrumboard"]
	path = htdocs/custom/scrumboard
	url = git@github.com:ATM-Consulting/dolibarr_module_scrumboard.git
[submodule "htdocs/custom/searcheverywhere"]
	path = htdocs/custom/searcheverywhere
	url = git@github.com:ATM-Consulting/dolibarr_module_searcheverywhere.git
[submodule "htdocs/custom/serverobserver"]
	path = htdocs/custom/serverobserver
	url = git@github.com:ATM-Consulting/dolibarr_module_serverobserver.git
[submodule "htdocs/custom/split"]
	path = htdocs/custom/split
	url = git@github.com:ATM-Consulting/dolibarr_module_split.git
[submodule "htdocs/custom/subtotal"]
	path = htdocs/custom/subtotal
	url = git@github.com:ATM-Consulting/dolibarr_module_subtotal.git
[submodule "htdocs/custom/syncmailagenda"]
	path = htdocs/custom/syncmailagenda
	url = git@github.com:ATM-Consulting/dolibarr_module_syncmailagenda.git
[submodule "htdocs/custom/upbuttons"]
	path = htdocs/custom/upbuttons
	url = git@github.com:ATM-Consulting/dolibarr_module_upbuttons.git
[submodule "htdocs/custom/agefodd"]
	path = htdocs/custom/agefodd
	url = git@atmsrv1:store-agefodd.git
[submodule "htdocs/custom/allscreens"]
	path = htdocs/custom/allscreens
	url = git@atmsrv1:store-allscreens.git
[submodule "htdocs/custom/atmtheme"]
	path = htdocs/custom/atmtheme
	url = git@atmsrv1:atm-theme.git
[submodule "htdocs/custom/bankimport"]
	path = htdocs/custom/bankimport
	url = git@atmsrv1:doli-bankimport.git
[submodule "htdocs/custom/cliatm"]
	path = htdocs/custom/cliatm
	url = git@atmsrv1:doli-cli-atm.git
[submodule "htdocs/custom/concatpdf"]
	path = htdocs/custom/concatpdf
	url = git@atmsrv1:store-concatpdf.git
[submodule "htdocs/custom/contratabonnement"]
	path = htdocs/custom/contratabonnement
	url = git@atmsrv1:store-contratabonnement.git
[submodule "htdocs/custom/exportcompta"]
	path = htdocs/custom/exportcompta
	url = git@atmsrv1:doli-export-compta.git
[submodule "htdocs/custom/google"]
	path = htdocs/custom/google
	url = git@atmsrv1:store-google.git
[submodule "htdocs/custom/gpec"]
	path = htdocs/custom/gpec
	url = git@atmsrv1:doli-gpec.git
[submodule "htdocs/custom/mailchimp"]
	path = htdocs/custom/mailchimp
	url = git@atmsrv1:store-mailchimp.git
[submodule "htdocs/custom/mantis"]
	path = htdocs/custom/mantis
	url = git@atmsrv1:doli-mantis-connector.git
[submodule "htdocs/custom/multicompany"]
	path = htdocs/custom/multicompany
	url = git@atmsrv1:multicompany.git
[submodule "htdocs/custom/multismtp"]
	path = htdocs/custom/multismtp
	url = git@atmsrv1:store-multismtp.git
[submodule "htdocs/custom/ndfp"]
	path = htdocs/custom/ndfp
	url = git@atmsrv1:doli-ndfp-rh.git
[submodule "htdocs/custom/sig"]
	path = htdocs/custom/sig
	url = git@atmsrv1:doli-sig.git
[submodule "htdocs/custom/zenfusionmaps"]
	path = htdocs/custom/zenfusionmaps
	url = git@atmsrv1:store-zenfusionmaps.git
[submodule "htdocs/custom/zenfusionoauth"]
	path = htdocs/custom/zenfusionoauth
	url = git@atmsrv1:store-zenfusionoauth.git
[submodule "htdocs/custom/discount4lines"]
	path = htdocs/custom/discount4lines
	url = https://github.com/ATM-Consulting/dolibarr_module_discount4lines.git
[submodule "htdocs/rh"]
	path = htdocs/rh
	url = https://github.com/ATM-Consulting/dolibarr_module_rh.git
[submodule "htdocs/custom/propalautosend"]
	path = htdocs/custom/propalautosend
	url = git@github.com:ATM-Consulting/dolibarr_module_propalautosend.git
[submodule "htdocs/custom/advtargetemailing"]
	path = htdocs/custom/advtargetemailing
	url = git@atmsrv1:store-advtargetemailing.git
[submodule "htdocs/custom/quicksupplierprice"]
	path = htdocs/custom/quicksupplierprice
	url = git@github.com:ATM-Consulting/dolibarr_module_quicksupplierprice.git
